<div class="title">Nova Conta</div>
<div class="flex-container">
    <div class="form-container">
        <div class="flex-row">
            <mat-form-field>
                <mat-label>Loja</mat-label>
                <input matInput type="text" [(ngModel)]="purchase.store.name" (ngModelChange)="onChangeStore($event)" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Método de Pagamento</mat-label>
                <input matInput type="text" [(ngModel)]="purchase.paymentMethod.method" (ngModelChange)="onChangePaymentMethod($event)"/>
            </mat-form-field>
        </div>
        <div class="flex-row">
            <mat-form-field>
                <mat-label>Nome do Produto</mat-label>
                <input matInput type="text" [(ngModel)]="item.product.name" (ngModelChange)="onChangeProduct($event)" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Preço</mat-label>
                <input matInput currencyMask [(ngModel)]="item.price" />
            </mat-form-field>
        </div>
        <div class="flex-row">
            <mat-form-field>
                <mat-label>Unidade</mat-label>
                <input matInput type="text" [(ngModel)]="item.product.unit" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Quantidade</mat-label>
                <input matInput type="text" [(ngModel)]="item.qtd" />
            </mat-form-field>
        </div>
        <div class="flex-row">
            <mat-form-field>
                <mat-label>Valor Pago</mat-label>
                <input matInput currencyMask [(ngModel)]="item.valuePaid" />
            </mat-form-field>
        </div>
        <div class="flex-center">
            <div class="flex-center-row">
                <button mat-raised-button color="primary" (click)="newItem()" [disabled]="isItemIncomplete()" >Nova compra</button>
                <button mat-raised-button color="primary" (click)="newPurchase()" [disabled]="isPurchaseEmpty()" >Finalizar</button>
            </div>
        </div>
        <span *ngIf="purchase.store.name != ''">Loja: {{purchase.store.name}}</span>
        <span *ngIf="purchase.paymentMethod.method != ''">Método de pagamento: {{purchase.paymentMethod.method}}</span>
        <span *ngIf="purchase.total != 0">Total: {{purchase.total | currency}}</span>
    </div>
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
            <!-- Weight Column -->
            <ng-container matColumnDef="product">
                <th mat-header-cell *matHeaderCellDef> Produto </th>
                <td mat-cell *matCellDef="let element"> {{element.product.name}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Preço </th>
                <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="qtd">
                <th mat-header-cell *matHeaderCellDef> Qtd </th>
                <td mat-cell *matCellDef="let element"> {{element.qtd}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="unit">
                <th mat-header-cell *matHeaderCellDef> Unidade </th>
                <td mat-cell *matCellDef="let element"> {{element.product.unit}} </td>
            </ng-container>
    
            <!-- Symbol Column -->
            <ng-container matColumnDef="valuePaid">
                <th mat-header-cell *matHeaderCellDef> Valor pago </th>
                <td mat-cell *matCellDef="let element"> {{element.valuePaid | currency}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
  
  